* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 2em 1em;
	background-color: $cream;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.4rem;
}

.card {
	background-color: $white;
	border-radius: 8px;
	overflow: hidden;

	&__img {
		width: 100%;
	}

	&__body {
		padding: 1.2em 1.8em;
	}

	&__category {
		color: $dark-grayish-blue;
		font-size: 1.2rem;
		text-transform: uppercase;
		letter-spacing: 4px;
	}

	&__title {
		margin: 0.4em 0;
		color: $very-dark-blue;
		font-family: 'Fraunces', serif;
		font-size: 2.4rem;
	}

	&__description {
		color: $dark-grayish-blue;
	}

	&__prices {
		display: flex;
		align-items: center;
		margin: 1.6em 0 1.4em;

		&-first {
			color: $dark-cyan;
			font-family: 'Fraunces', serif;
			font-size: 2.6rem;
		}

		&-second {
			color: $dark-grayish-blue;
			margin-left: 1em;
		}
	}

	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 1em;
		color: $white;
		background-color: $dark-cyan;
		border: none;
		border-radius: 8px;
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		transition: background-color 0.3s;
		cursor: pointer;

		&:hover {
			background-color: $very-dark-blue;
		}

		&-icon {
			margin-right: 0.6em;
		}
	}
}

.attribution {
	margin-top: 3em;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
